.container {
    display: flex;
    margin: 1em;
    border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
}

.container img {
    margin: 1em;
    object-fit: cover;

}