button {
  border: none;
  color: white;
  padding: 15px 15px;
  font-size: 16px;
}

.cont {
  margin: 1em;
}

.clickablePic {
  height: 200px;
}

.dice {
  height: 80px;
}


.numbersContainer {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1em
}

.num {
  flex-basis: 19%;
  height: 50px;
  border: 1px solid black;
  font-size: 20px;
  padding-top: 0.5em
}

.profile-container {
  display: flex;
  margin: 1em;
  border: 1px solid gray
}

.profile-container > img {
  height: 200px;
  width: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1em;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
}

form {
  margin: 2em
}

.form-group {
  margin: 0.5em
}

.submit {
  margin: 0.5em
}